<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>braspresscarrier</name>
	<displayName><![CDATA[Braspress Carrier]]></displayName>
	<version><![CDATA[1.00]]></version>
	<description><![CDATA[Modulo para transportadora Braspress n&iacute;vel Brasil]]></description>
	<author><![CDATA[Glauber Portella]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries>br</limited_countries>
</module>